<h1>Forgot password?</h1>
<form method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" value=""><br>
    <input type="submit" value="Login" >
</form>

