<h1>Register a new user</h1>
<form method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" value=""><br>
    <label for="usernickname">Nickname?:</label><br>
    <input type="text" id="usernickname" name="usernickname" value=""><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" value=""><br>
    <input type="submit" value="Register" >


</form>



